<template name="sports">
	<div id="sports_wrap">
		<div id="sports_container">
			<div class="sports_wrap">
				<div class="sports_page">
					<div class="image">
						<img src="../../images/doc_pocket2.png" width="236" height="242" alt="Pocket">
						<h2>Primary Specialties</h2>
						<p class="specialty"><a href="#"><b>Knee and Shoulder</b></a></p>
						<p class="specialty"><a href="#"><b>Spine Surgery</b></a></p>
						<h2>Special Expertise</h2>
						<p class="specialty"><a href="#"><b>Arthroscopic Surgery</b></a></p>
						<p class="specialty"><a href="#"><b>Knee Reconstruction</b></a></p>
					</div>
					<div class="sports">
						<h1>Sports Medicine</h1>
					    <img src="../../images/Background.png" class="ski" width="590" height="200" alt="Background">
						<h2 class="surgery">Knee and Shoulder Surgery,</h2>
						
						<p>Dr. Charles Goodwin specializes in sports medicine of the knee and shoulder. He has been an orthopaedic surgeon for The New York Mets, The New York Knicks, The US Tennis Asssociation, The US Open Golf, The New York City Ballet and the American Ballet Theatre.</p>
						<p> Hospital for Special Surgery was recently <b>ranked #1 in the United States for Orthopedic Care</b> by US News and World Report’s Guide to the Best Hospitals. Our primary office is at <a href="http://www.newyorkphysicians.com/"><b>New York Physicians</b></a> in Manhattan. There is also an office at <a href="www.orthopedicspecialists.com">Orthopedic Specialists of New York</a> in Locust Valley. Dr. Goodwin is also a spine specialist at <a href="http://www.iosmpc.com/">Island Orthopedics and Sports Medicine</a> in Massapequa. This office serves Long Island patients, who want local care and access to <a href="http://www.hss.edu/">Hospital for Special Surgery</a> in Manhattan.</p>
						
					</div>
					<div style="clear:both"></div>
					
					<div class="links">
						<ul>
							<li><a href="http://www.hss.edu/" target="_blank"><img src="../../images/usta.png" width="45" height="42" alt="Usta"></a></li>
							<li><a href="http://www.newyorkphysicians.com/" target="_blank"><img src="../../images/mets.png" width="100" height="50" alt="Mets"></a></li>
							<li><a href="http://www.iosmpc.com/" target="_blank"><img src="../../images/usga.png" width="100" height="37" alt="Usga"></a></li>
							<li><a href="http://www.northshorelij.com/" target="_blank"><img src="../../images/nycb.png" width="57" height="44" alt="Nycb"></a></li>
							<li><a href="www.orthopedicspecialists.com" target="_blank"><img src="../../images/nyk.png" width="56" height="52" alt="Nyk"></a></li>
							<li><a href="www.nyp.org" target="_blank"><img src="../../images/abtjpg.png" width="88" height="47" alt="Abtjpg"></a></li>
						</ul>
					</div>
					
				</div>
			</div>
			
	</div>
</template>